# Pandas - CookNotebook

In [2]:
# Import padrão
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pandas import DataFrame, Series

## Series

In [4]:
obj = Series([3,4,5,6])

In [5]:
obj

0    3
1    4
2    5
3    6
dtype: int64

In [7]:
#Ver valores
obj.values

array([3, 4, 5, 6])

In [8]:
#Ver index
obj.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [15]:
# Criando uma Serie
ww2_cas = Series([8700000,4300000,3000000,2100000,400000],index=['USSR','Germany','China','Japan','USA'])

In [16]:
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [17]:
#Selecionando valores em uma Serie
ww2_cas['USA']

400000

In [18]:
#Selecionando valores a partir de uma condição

ww2_cas[ww2_cas > 4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [19]:
# Convertendo uma Serie em dicionário

In [20]:
ww2_dict = ww2_cas.to_dict()

In [21]:
ww2_dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2100000,
 'USA': 400000,
 'USSR': 8700000}

In [22]:
# Convertendo um dicionário em Serie

ww2_series = Series(ww2_dict)

In [23]:
ww2_series

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [24]:
# Nomeando uma Serie
ww2_series.name = "World War 2 Casualties"

In [25]:
ww2_series

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
Name: World War 2 Casualties, dtype: int64

In [26]:
# Nomeado o index de uma Serie
ww2_series.index.name = 'Countries'

In [27]:
ww2_series

Countries
China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
Name: World War 2 Casualties, dtype: int64

# Dataframes

In [39]:
# Lendo dados da memória
# https://en.wikipedia.org/wiki/NFL_win%E2%80%93loss_records

nfl_frame = pd.read_clipboard()

In [40]:
nfl_frame.head()

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East

In [50]:
nfl = DataFrame(nfl_frame)

In [55]:
# Selecionando Colunas em um DataFrame

novo_nfl = DataFrame(nfl,columns=['Team ','Won ','Lost '])

In [57]:
novo_nfl.head()

                   Team   Won   Lost
0         Chicago Bears    741    555
1        Dallas Cowboys    480    364
2     Green Bay Packers    720    547
3        Miami Dolphins    429    335
4  New England Patriots    462    381

In [58]:
novo_nfl.tail()

                    Team   Won   Lost
27    New Orleans Saints    331    418
28       Atlanta Falcons    330    432
29        Houston Texans     97    127
30     Arizona Cardinals    535    724
31  Tampa Bay Buccaneers    241    386

In [61]:
#Selecionando uma linha no DataFrame
novo_nfl.ix[2]

Team     Green Bay Packers
Won                     720
Lost                    547
Name: 2, dtype: object

In [62]:
# Adicionando uma nova Serie ao DataFrame

In [63]:
stadiums = Series(np.arange(5))

In [64]:
stadiums

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [65]:
# Arranjo automático do index

stadiums = Series(['Maracana','Pacaembu','Morumbi'],index=[0,2,4])

In [66]:
nfl['Stadium'] = stadiums

In [68]:
nfl.head()

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North,Maracana
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,NaN
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North,Pacaembu
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East,NaN
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East,Morumbi

In [73]:
# Criando DataFrames a partir de dicionarios

data = {'City':['SF','LA','NYC'],'Population':[837000,3880000,8400000]}

In [74]:
#DataFrame Vazio
cities = DataFrame(data)

In [75]:
cities

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000